{% extends 'base.html.twig' %}

{% block body %}
    <h1>Test !</h1>

    {# Création de variable + affichage #}
    {% set name = "Sylvain" %}
    <h2>{{ name | upper }}</h2>
    <h2>{{ name | length }}</h2>

    {# utilisation de tableau #}
    {% set colors = ["blue", "red", "pink", "purple", "yellow"] %}

    <p>{{ colors | join(" - ") }}</p>

    {% for color in colors %}
        {% if loop.first %}
            <p>Première couleur</p>
        {% else %}
            <p>Autre couleur</p>
        {% endif %}
        <div style="background-color: {{ color }}">{{ color }} / Index :{{ loop.index0 }}</div>
    {% else %}
        <p>Pas de couleurs !</p>
    {% endfor %}

    {# utilisation d'objet #}
    {% set serie = {
        name : "Breaking Bad",
        genre : "Drama",
        year : 2012
    } %}

    <h3>Nom de la série : {{ serie.name }}</h3>
    <h3>Genre : {{ serie.genre }}</h3>
    <h3>Année : {{ serie.year }}</h3>

    <p>{{ "-6 month" | date("Y-m-d") }}</p>
    <p>{{ "now" | date("Y-m-d") }}</p>


    <p>Username = {{ username }}</p>
    <p>Série = {{ serieTV.title }}</p>
    <p>{{ serieTV.description }}</p>
    <p>{{ date | date("Y-m-d H:i:s") }}</p>


{% endblock %}