{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h1>Detail of a serie</h1>

    <div class="serie-details">
        <div>
            <img src="{{ asset('img/posters/series/' ~ serie.poster) }}" alt="{{ serie.name }}">
        </div>

        <div class="serie-detail-infos">
            <h2>{{ serie.name }}</h2>
            <p>User ratings : {{ serie.vote }}</p>
            <p>Categorized in : {{ serie.genres }}</p>
            <p>Status : {{ serie.status }}</p>
            <p>Aired from {{ serie.firstAirDate | date("Y-m-d") }} to {{ serie.lastAirDate | date("Y-m-d") }}</p>
            <p>{{ serie.overview | nl2br }}</p>
            <a class="link_button" href="{{ path('season_add_with_serie_id', {'id': serie.id }) }}">Add a season</a>
            <a onclick="return confirm('Voulez-vous supprimer cette série ? ({{ serie.name }})')" class="link_button"
               href="{{ path('tv_show_delete', {'id': serie.id }) }}">Delete</a>
        </div>
    </div>
    <div class="seasons">
        <h3>Seasons</h3>
        {% for season in serie.seasons %}
            <article>
                <img src="{{ asset('img/posters/seasons/' ~ season.poster) }}"
                     alt="{{ serie.name }} #{{ season.number }}">

                <div>
                    <p>
                        <a class="link_button" href="{{ path('season_update', {'id': season.id}) }}">Update</a>
                    </p>
                    <h4>Season #{{ season.number }}</h4>
                    <div>{{ season.overview | nl2br }}</div>

                </div>
            </article>
        {% endfor %}
    </div>
{% endblock %}


{% block extraStyle %}
    <style>
        body {
            background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
            url("{{ asset('img/backdrops/' ~ serie.backdrop) }}");
        }
    </style>
{% endblock %}











